//====================================================================================================
.hello {
  &__container {
    @media (max-width:$md3+px){
      padding: 0; 
    }
  }
}
.slider-hello {
  position: relative;
  background-color: $primaryColor;
  &__body {
    @include adaptiv-value("height", 520, 400, 1);
  }
  &__slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    *:last-child{
     margin-bottom: 0; 
    }
  }
  &__title {
    @include adaptiv-value("margin-bottom", 25, 12.5, 1);
    @include adaptiv-value("padding-bottom", 35, 25, 1);
    position: relative;
    &::before{
      content:'';
      position: absolute;
      width: 55px;
      height: 2px;
      left: 50%;
      bottom: 0;
      transform: translate(-50%,0px);
      background-color: $mainColor;
    }
  }
  &__text {
    @include adaptiv-value("font-size", 24, 18, 1);
    line-height: 32 / 24 * 100%;
    font-weight: 300;
    @include adaptiv-value("margin-bottom", 74, 30, 1);
  }
  &__dotts {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(0px,-50%);
    .swiper-pagination-bullet {
      margin: 8px 0;
    }
    @media (max-width:$md4+px){
      right: 15px; 
    }
  }
}
//====================================================================================================
