//====================================================================================================
.hello {
  &__container {
    @media (max-width:$md3+px){
      padding: 0; 
    }
  }
}
.slider-hello {
  position: relative;
  background-color: $primaryColor;
  &__body {
    @include adaptiv-value("height", 520, 400, 1);
  }
  &__slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    *:last-child{
     margin-bottom: 0; 
    }
  }
  &__title {
    @include adaptiv-value("margin-bottom", 25, 12.5, 1);
    @include adaptiv-value("padding-bottom", 35, 25, 1);
    position: relative;
    &::before{
      content:'';
      position: absolute;
      width: 55px;
      height: 2px;
      left: 50%;
      bottom: 0;
      transform: translate(-50%,0px);
      background-color: $mainColor;
    }
  }
  &__text {
    @include adaptiv-value("font-size", 24, 18, 1);
    line-height: 32 / 24 * 100%;
    font-weight: 300;
    @include adaptiv-value("margin-bottom", 74, 30, 1);
  }
  &__button {

  }
  &__dotts {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(0px,-50%);
    .swiper-pagination-bullet {
      margin: 8px 0;
    }
    @media (max-width:$md4+px){
      right: 15px; 
    }
  }
  /*
  &__arrows {
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(0px,-50%);
    width: calc(100% - 40px);
    left: 20px;
    z-index: 5;
    justify-content: space-between;
    @media (min-width:$md1+px){
      width: calc(100% + 40px);
      left: -20px; 
    }
  }
  */
}
//============================================================================
/*
.slider-arrows {
  display: grid;
  grid-template-columns: repeat(2,40px);
  column-gap: 8px;
  @media (max-width:$md3+px){
    display: none; 
  }
}
.slider-arrow {
  pointer-events: auto;
  border-radius: 50%;
  height: 40px;
  background-color: #999;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  &_prev {
    &::before{
      transform: rotate(90deg);
    }
  }
  &_next {
    &::before{
      transform: rotate(-90deg);
    }
  }
  @media (any-hover: hover){
    &:hover{
      background-color: #fff;
    }
  }
}
*/
//============================================================================

//====================================================================================================
