@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700&display=swap");
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Montserrat";
$fontSize: 18;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1400;
$maxWidthContainer: 1178;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000;
$grayColor: #656565;
$primaryColor: #ffe1bd;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
  padding: 0px 15px;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
@import "about-us";
@import "service";
@import "work";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
  &__hello {
    margin: 156px 0px 0px 0px;
    @media (max-width:$md2+px){
      margin: 80px 0px 0px 0px;
    }
    @media (max-width:$md3+px){
      margin: 60px 0px 0px 0px;
    }
  }
  &__services {
    @include adaptiv-value("padding-top", 90, 40, 1);
    &_primary {
      margin: 156px 0px 0px 0px;
      @media (max-width:$md2+px){
        margin: 80px 0px 0px 0px;
      }
      @media (max-width:$md3+px){
        margin: 60px 0px 0px 0px;
      }
      @include adaptiv-value("padding-bottom", 145, 50, 1);
    }
  }
  &__works {
    @include adaptiv-value("padding-top", 90, 40, 1);
    padding-bottom: 50px;
    &_primary {
      margin: 156px 0px 0px 0px;
      @media (max-width:$md2+px){
        margin: 80px 0px 0px 0px;
      }
      @media (max-width:$md3+px){
        margin: 60px 0px 0px 0px;
      }
      @include adaptiv-value("padding-bottom", 150, 50, 1);
    }
  }
  &__team {
    @include adaptiv-value("padding-top", 90, 40, 1);
    @include adaptiv-value("padding-bottom", 100, 50, 1);
  }
  &__reviews {
    @include adaptiv-value("padding-top", 90, 40, 1);
    @include adaptiv-value("padding-bottom", 100, 50, 1);
  }
  &__feedback {
    @include adaptiv-value("padding-top", 90, 40, 1);
    @include adaptiv-value("padding-bottom", 100, 50, 1);
  }
  &__about {
    @include adaptiv-value("padding-top", 80, 40, 1);
    @include adaptiv-value("padding-bottom", 80, 40, 1);
  }
  &__statistics {
    @include adaptiv-value("padding-top", 95, 40, 1);
    @include adaptiv-value("padding-bottom", 95, 40, 1);
  }
  &__instagram {
    @include adaptiv-value("padding-top", 90, 40, 1);
    @include adaptiv-value("padding-bottom", 100, 50, 1);
  }
  &__price {
    @include adaptiv-value("padding-top", 70, 40, 1);
    @include adaptiv-value("padding-bottom", 70, 40, 1);
  }
  &__related {
    @include adaptiv-value("padding-top", 80, 40, 1);
    @include adaptiv-value("padding-bottom", 90, 50, 1);
  }
  &__work {
    border-top: 1px solid #d8d8d8;
    @include adaptiv-value("padding-top", 90, 40, 1);
    @include adaptiv-value("padding-bottom", 100, 50, 1);
    margin: 156px 0px 0px 0px;
    @media (max-width:$md2+px){
      margin: 80px 0px 0px 0px;
    }
    @media (max-width:$md3+px){
      margin: 60px 0px 0px 0px;
    }
  }
}
//===================================================================================================================================
.services {
  &__container {
    @media (max-width:$md3+px){
      padding: 0; 
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
  }
  &__content {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 50px 0px;
  }
  &__button {
    align-self: center;
  }
}
.item-services {
  @media (min-width:$md3+px){
    display: flex;
    align-items: flex-start; 
  }
  &:nth-child(2n) {
    flex-direction: row-reverse;
    .item-services__content {
      @media (min-width:$md3+px){
        @include adaptiv-value("margin-right", 90, 0, 1);
        margin-left: 0; 
        padding: 0;
      }
      padding: 15px;
    }
  }
  &:not(:last-child) {
    @include adaptiv-value("margin-bottom", 100, 50, 1);
  }
  &__image {
    position: relative;
    @media (min-width:$md3+px){
      flex: 0 0 560px/1148px * 100%;
      padding: 0px 0px 560px/1148px * 100% 0px;
    }
    @media (max-width:$md3+px){
      display: block;
      padding: 0px 0px 100% 0px;
      margin: 0px 0px 20px 0px; 
    }
    background-color: #e5e5e5;
    @media (any-hover: hover){
      &:hover{
        .item-hover {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  &__content {
    flex: 0 1 50%;
    @media (min-width:$md3+px){
      @include adaptiv-value("margin-left", 90, 0, 1);
      padding: 0; 
    }
    padding: 15px;
    *:last-child {
      margin-bottom: 0;
    }
  }
  &__head {
    display: inline-block;
    color: $mainColor;
    @include adaptiv-value("margin-bottom", 30, 12.5, 1);
    @include adaptiv-value("padding-bottom", 25, 15, 1);
    position: relative;
    transition: color 0.3s ease 0s;
    @media (any-hover: hover){
      &:hover{
        color: $primaryColor;
      }
    }
    &::before{
      content:'';
      position: absolute;
      width: 55px;
      height: 2px;
      left: 0;
      bottom: 0;
      background-color: $mainColor;
    }
  }
  &__suptitle {
    @include adaptiv-value("font-size", 30, 22, 1);
    font-weight: 400;
    line-height: 24 / 30 * 100%;
    margin: 0px 0px 5px/30px * 1em 0px;
  }
  &__subtitle {
    @include adaptiv-value("font-size", 18, 16, 1);
    line-height: 12%;
    margin: 25px 0px 0px 0px;
    @include adaptiv-value("padding-bottom", 25, 15, 1);
  }
  &__title {
    @include adaptiv-value("font-size", 48, 34, 1);
    font-weight: 700;
    line-height: 48 / 48 * 100%;
  }
  &__text {
    @include adaptiv-value("font-size", 18, 16, 1);
    color: $grayColor;
    font-weight: 300;
    line-height: 27 / 18 * 100%;
    @include adaptiv-value("margin-bottom", 45, 25, 1);
    p {
      @include adaptiv-value("margin-bottom", 30, 15, 1);
    }
  }
  &__button {
    margin: 0px 0px 30px 0px;
  }
}
.item-hover {
  @media (any-hover: none){
    display: none;
  }
  @media (any-hover: hover){
    $padding: 7.692%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%-$padding*2;
    height: 100%-$padding*2;
    top: $padding;
    left: $padding;
    opacity: 0;
    visibility: hidden;
    background-color: $primaryColor;
    transition: all 0.3s ease 0s;
    padding: 80px;
    &__title {
      padding: 0px 0px 30px 0px;
      margin: 0px 0px 45px 0px;
      position: relative;
      &::before{
        content:'';
        position: absolute;
        width: 55px;
        height: 2px;
        left: 50%;
        bottom: 0;
        transform: translate(-50%,0px);
        background-color: $mainColor;
      }
    }
    &__text {
      color: $mainColor;
      font-weight: 300;
      line-height: 160%;
    }
  } 
}
//============================================================================
.works {
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__row {
    display: flex;
    margin: 0px -14px 28px -14px;
    &_primary {
      margin: 0px -14px 50px -14px;
    }
    @media (max-width:$md3+px){
      overflow: auto;
      margin: 0px -7.5px 15px -7.5px;
      padding: 0px 0px 25px 0px; 
      &_primary {
        margin: 0px -7.5px 25px -7.5px;
      }
    }
  }
  &__column {
    display: flex;
    flex-direction: column;
    flex: 0 1 33.333%;
    padding: 0px 14px;
    &:nth-child(2) {
      flex-direction: column-reverse;
      .works__image {
        margin: 0;
        &:last-child{
          margin: 0px 0px 30px 0px;
          @media (max-width:$md3+px){
             margin: 0px 0px 15px 0px; 
          }
        }
      }
    }
    @media (max-width:$md3+px){
      flex: 0 0 60%; 
      padding: 0px 7.5px;
    }
  }
  &__image {
    position: relative;
    background-color: #e5e5e5;
    padding: 0px 0px 100% 0px;
    &:first-child{
      margin: 0px 0px 30px 0px;
      @media (max-width:$md3+px){
        margin: 0px 0px 15px 0px; 
      }
    }
    &_big {
      padding: 0px 0px 161.8% 0px;
      .item-hover {
        height: 100%-43.050%-5.084%;
        top: 254px;
      }
    }
    @media (any-hover: hover){
      &:hover{
        .item-hover {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  &__button {
    align-self: center;
  }
}
.menu-works, .menu-services {
  @include adaptiv-value("margin-bottom", 90, 30, 1);
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__item {
    margin: 0px 11px;
    padding: 5px 0;
  }
  &__link {
    color: #989898;
    line-height: 24 / 18 * 100%;
    transition: color 0.3s ease 0s;
    &._active {
      color: $mainColor;
    }
    @media (any-hover: hover){
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
//============================================================================
.team {
  background-color: $primaryColor;
}
.slider-team {
  position: relative;
  &__body {
    margin: 0px 0px 50px 0px;
    display: flex;
    justify-content: center;
  }
  &__slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  &__image {
    flex: 0 0 168px;
    width: 168px;
    background-color: #fff;
    border-radius: 50%;
    padding: 0px 0px 168px 0px;
    margin: 0px 0px 10px 0px;
    overflow: hidden;
  }
  &__title {
    margin: 0px 0px 12px/40px * 1em 0px;
    padding: 0px 0px 20px 0px;
    max-width: 237px;
    position: relative;
    &::before{
      content:'';
      position: absolute;
      width: 55px;
      height: 2px;
      left: 50%;
      bottom: 0;
      transform: translate(-50%,0px);
      background-color: $mainColor;
    }
  }
  &__text {
    line-height: 48 / 18 * 100%;
  }
  &__dotts {
    .swiper-pagination-bullet {
      margin: 0px 8px;
    }
  }
  &__arrows {
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(0px,-50%);
    width: calc(100% + 10px);
    left: -5px;
    z-index: 5;
    justify-content: space-between;
  }
}
//============================================================================
.slider-arrows {
  display: grid;
  grid-template-columns: repeat(2,40px);
  column-gap: 8px;
  @media (max-width:$md3+px){
    display: none; 
  }
}
.slider-arrow {
  pointer-events: auto;
  color: #000;
  font-size: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  @media (any-hover: hover){
    &:hover{
      color: #fff;
    }
  }
  &_prev {
    &::before{
      transform: rotate(-180deg);
    }
  }
}
//============================================================================
.slider-reviews {
  &__body {
    @include adaptiv-value("margin-bottom", 80, 40, 1);
  }
  &__content {
    @media (min-width:$md3+px){
      display: flex;
      align-items: flex-start;
      justify-content: center; 
    }
    @include adaptiv-value("margin-bottom", 70, 40, 1);
  }
  &__head {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 20px 0px;
    @media (min-width:$md3+px){
      align-items: flex-end;
      margin-bottom: 0;
      @include adaptiv-value("padding-right", 90, 20, 1); 
    }
  }
  &__title {
    @media (min-width:$md3+px){
      text-align: right; 
    }
    padding: 0px 0px 15px 0px;
    position: relative;
    &::before{
      content:'';
      position: absolute;
      width: 55px;
      height: 2px;
      right: 0;
      bottom: 0;
      background-color: $mainColor;
      @media (max-width:$md3+px){
        left: 50%;
        transform: translate(-50%,0px); 
      }
    }
  }
  &__subtitle {
    line-height: 48 / 18 * 100%;
    font-weight: 300;
  }
  &__text {
    flex: 0 1 50%;
    color: $grayColor;
    @include adaptiv-value("font-size", 18, 16, 1);
    line-height: 28 / 18 * 100%;
    @media (min-width:$md3+px){
      @include adaptiv-value("padding-right", 70, 0, 1); 
    }
  }
  &__items {
    display: grid;
    gap: 28px;
    grid-template-columns: repeat(auto-fit,minmax(264px,1fr));
    
  }
  &__item {
    padding: 0px 0px 140px/264px * 100% 0px;
    background-color: #e6e6e6;
  }
  &__dotts {
    .swiper-pagination-bullet {
      margin: 0px 8px;
    }
  }
}
//============================================================================
.feedback {
  color: #fff;
  background-color: #000;
  &__body {
    @media (min-width:$md3+px){
      display: flex; 
    }
  }
  &__content {
    flex: 0 1 50%;
    @include adaptiv-value("margin-bottom", 60, 30, 1);
    @media (min-width:$md3+px){
      @include adaptiv-value("padding-right", 100, 0, 1);
      margin-bottom: 0; 
    }
  }
  &__items {
    @include adaptiv-value("margin-bottom", 40, 30, 1);
    a {
      transition: color 0.3s ease 0s;
      @media (any-hover: hover){
        &:hover{
          color: $primaryColor;
        }
      }
    }
  }
  &__item {
    display: flex;
    align-items: flex-start;
    font-weight: 300;
    line-height: 27 / 18 * 100%;
    color: #fff;
    @include adaptiv-value("font-size", 18, 16, 1);
    &::before{
      padding: 0px 15px 0px 0px;
      line-height: 27 / 18 * 100%;    
    }
    &:not(:last-child) {
      @include adaptiv-value("margin-bottom", 30, 20, 1);
    }
  }
  &__social {
    display: flex;
    align-items: center;
    color: #fff;
    @media (max-width:$md3+px){
      justify-content: space-evenly; 
    }
  }
  &__icon {
    color: #fff;
    @include adaptiv-value("font-size", 40, 34, 1);
    transition: color 0.3s ease 0s;
    @media (any-hover: hover){
      &:hover{
        color: $primaryColor;
      }
    }
    @media (min-width:$md3+px){
      &:not(:last-child) {margin: 0px 20px 0px 0px;} 
    }
  }
  &__subscribe {
    flex: 0 1 462px;
  }
}
//============================================================================
.statistics {
  &__body {
    @media (min-width:$md4+px){
      display: flex; 
    }
  }
  &__item {
    flex: 0 1 33.333%;
    text-align: center;
    padding: 0px 20px;
    @media (max-width:$md3+px){
      padding: 0;
      &:not(:last-child) {margin: 0px 0px 40px 0px;} 
    }
  }
  &__value {
    font-weight: 700;
    position: relative;
    padding: 0px 0px 15px 0px;
    margin: 0px 0px 15px 0px;
    &::before{
      content:'';
      position: absolute;
      width: 55px;
      height: 2px;
      left: 50%;
      bottom: 0;
      transform: translate(-50%,0px);
      background-color: $mainColor;
    }
  }
  &__text {
    font-weight: 300;
    line-height: 120%;
  }
}
//============================================================================
.related {
  background-color: $primaryColor;
}
.slider-related {
  position: relative;
  &__body {
    margin: 0px 0px 50px 0px;
    display: flex;
    justify-content: space-between;
  }
  &__title {
    display: inline-flex;
    font-weight: 700;
    color: $mainColor;
    @include adaptiv-value("font-size", 36, 24, 1);
    line-height: 36 / 36 * 100%;
    position: relative;
    padding: 0px 100px 15px 0px;
    margin: 0px 0px 10px 0px;
    &::before{
      content:'';
      position: absolute;
      width: 55px;
      height: 2px;
      left: 0;
      bottom: 0;
      background-color: $mainColor;
    }
  }
  &__text {
    line-height: 120%;
  }
  &__dotts {
    .swiper-pagination-bullet {
      margin: 0px 8px;
    }
  }
}
//</ОСНОВНОЙ БЛОК>====================================================================================================
