//====================================================================================================
.work {
  &__container {
    &_primary {
      max-width: 952px;
      @media (max-width:$md3+px){
        padding: 0; 
      }
    }
  }
  &__content {
    @media (min-width:$md3+px){
      display: flex; 
    }
  }
  &__head {
    flex: 0 1 50%;
    @media (min-width:$md3+px){
      @include adaptiv-value("padding-left", 160, 0, 1); 
    } 
  }
  &__title {
    @include adaptiv-value("padding-top", 30, 15, 1); 
    @include adaptiv-value("font-size", 40, 32, 1);
    line-height: 54 / 40 * 100%;
    font-weight: 700;
    position: relative;
    &::before{
      content:'';
      position: absolute;
      width: 55px;
      height: 2px;
      left: 0;
      top: 0;
      background-color: $mainColor;
    }
  }
  &__main {
    flex: 0 1 50%;
    @media (min-width:$md3+px){
      @include adaptiv-value("padding-left", 80, 0, 1); 
    } 
  }
  &__text {
    color: $grayColor;
    @include adaptiv-value("font-size", 18, 16, 1);
    line-height: 27 / 18 * 100%;
    @include adaptiv-value("margin-bottom", 45, 20, 1); 
    @include adaptiv-value("padding-top", 45, 20, 1); 
    p {
      &:not(:last-child) {
        margin: 0px 0px 25px 0px;
        @media (max-width:$md3+px){
          margin: 0px 0px 15px 0px; 
        }
      }
    }    
    @media (min-width:$md3+px){
      position: relative;
      &::before{
        content:'';
        position: absolute;
        width: 55px;
        height: 2px;
        left: 0;
        top: 0;
        background-color: $mainColor;
      } 
    }
  }
  &__social {
    display: flex;
  }
  &__icon {
    color: #000;
    @include adaptiv-value("font-size", 40, 34, 1);
    transition: color 0.3s ease 0s;
    @media (any-hover: hover){
      &:hover{
        color: $primaryColor;
      }
    }
    &:not(:last-child) {margin: 0px 20px 0px 0px;} 
  }
}
//============================================================================
.slider-work {
  @include adaptiv-value("margin-bottom", 85, 30, 1);
  &__body {
    min-width: 0;
    margin: 0px 0px 40px 0px;
  }
  &__slide {
    display: flex;
    flex-direction: column;
  }
  &__image {
    background-color: #e5e5e5;
    padding: 0px 0px 618px/952px * 100% 0px;
  }
  &__dotts {
    .swiper-pagination-bullet {
      margin: 0px 8px;
    }
  }
}
.slider-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  @include adaptiv-value("margin-bottom", 90, 40, 1);
}
.slider-button {
  line-height: 24 / 18 * 100%;
  color: #989898;
  margin: 0px 11px;
  transition: color 0.3s ease 0s;
  @media (any-hover: hover){
    &:hover{
      color: $mainColor;
    }
  }
}
//====================================================================================================
