//====================================================================================================
.work {
  &__container {
    max-width: 952px;
    @media (max-width:$md3+px){
      padding: 0; 
    }
  }
}
.slider-work {
  &__body {
    min-width: 0;
    margin: 0px 0px 40px 0px;
  }
  &__slide {
    display: flex;
    flex-direction: column;
  }
  &__image {
    background-color: #e5e5e5;
    padding: 0px 0px 618px/952px * 100% 0px;
  }
  &__dotts {
    .swiper-pagination-bullet {
      margin: 0px 8px;
    }
  }
}
.slider-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  @include adaptiv-value("margin-bottom", 90, 40, 1);
}
.slider-button {
  line-height: 24 / 18 * 100%;
  color: #989898;
  margin: 0px 11px;
  transition: color 0.3s ease 0s;
  @media (any-hover: hover){
    &:hover{
      color: $mainColor;
    }
  }
}
//====================================================================================================
